body::before {
  content: "";
  height: 70px;
  display: block;
}

body {
  font-family: IRANSansX;
}

body a {
  text-decoration: none;
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/woff/IRANSansX-Bold.woff") format("woff"),
    url("../fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/woff/IRANSansX-Regular.woff") format("woff"),
    url("../fonts/woff2/IRANSansX-Regular.woff2") format("woff2");
}

@media (min-width: 768px) {
  .news-input {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .go-to-top {
    right: 20px !important;
  }
}

.go-to-top {
  font-size: 50px;
  right: 90px;
  top: 40px;
  transition: color .3s;
}

.go-to-top:hover {
  color: #ffc107 !important;
}